*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
    height: auto;
}

#rating {
    color: yellow;
}

/* udemy services section styling */
.udemy__services {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: whitesmoke;
}

.udemy__services figure {
    display: flex;
    max-width: 250px;
}
.udemy__services img {
    max-width: 40px;
    height: 40px;
    background-color: rgb(198, 198, 198);
    padding: 0.6rem 0.6rem;
    border-radius: 50%;
}

/* udemy courses section styling */
.udemy__courses {
    background-color: whitesmoke;
    padding: 1rem;
}

.udemy__courses a {
    color: blueviolet;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 1rem;
}

.udemy__courses > a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
}
.udemy__courses h5,
.udemy__courses p {
    margin: 1rem 0;
}

.udemy__courses p {
    color: grey;
}

.udemy__courses__lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 3rem;
}

.udemy__courses__lists > div {
    max-width: 200px;
}




/* section with udemy partners class styling */

.udemy__partners {
    margin-top: 3rem;
    margin-bottom: 4rem;
    max-width: 70vw;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
}

.udemy__partners__lists {
    display: flex;
    margin-top: 1rem;
    justify-items: ;
    margin-bottom: 3rem;
    justify-content: space-around;
    gap: 1rem;
    
}

[alt="discussion forum"] {
    max-width: 60%;
}

.udemy__partners ul {
    text-align: left;
}

.udemy__partners li {
    margin-top: 1rem;
}

.udemy__partners h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* @media screen and (min-width:600px) {
    .udemy__partners ul {
        margin-left: 5rem;
    }
} */





/* udemy instructor section styling */

.udemy__instructor {
    padding: 1rem;
    text-align: center;
    line-height: 1.5;
}

.udemy__instructor  figcaption {
    font-weight: 700;
    font-size: 2rem;
}

.udemy__instructor a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}


@media screen and (min-width: 500px){
    .udemy__instructor {
        max-width: 70vw;
        margin: 0 auto;
    }
}

@media screen and (min-width:700px) {
    .udemy__instructor p {
        max-width: 70%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}


/* footer section styling */

footer {
    background-color: black;
    color: white;
    padding: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
}

#lang {
    text-align: center;
    padding: .5rem 1rem;
    color: black;
    margin-bottom: 1.5rem;
    background-image: url(./img/globe.svg);
    background-repeat: no-repeat;
}

.footer__logo {
    margin-top: 3rem;
}

.logo {
    width: 120px;
}
.footer__logo p {
    align-self: center;
    font-size: 1rem;
}

@media screen and (min-width:400px) {
    .footer__links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .footer__logo {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 399px) {
    .no__display__mobile {
        display: none;
    }
}

h1, h2, h3, h4, h5,h6 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    
}